.Create-users{
  height: 100vh;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  line-height: 5rem;


  input{
    width: 45rem;
    padding-block: 1.25rem;
    border-radius: 0.75rem;
    padding-inline: 2.25rem;
    font-size: 1.45rem;
    border: none;
    outline: none;
    overflow: hidden;
  
  }

  button{
    padding-block: 1.45rem;
    padding-inline: 2.45rem;
    border-radius: 0.75rem;
    font-size: 1.35rem;
    overflow: hidden;
    border: none;
    outline: none;
    background: linear-gradient(to bottom, rgb(242, 90, 90), rgb(191, 111, 111));
    color: white;
  }
  button:hover{
    
  }
}