.notes{
  padding: 1rem;
  display: flex;
  gap: 0.75rem;



  .note{
    border-radius: 0.65rem;
    border: 1px solid white;
    padding-block: 1rem;
    padding-inline: 1rem;
    text-align: center;

  }
}