.feed-page{
  display: flex;
  justify-content: center;
  align-items: flex-start;
 



  .feed{
    max-width: 400px;
    width: 100%;

    .posts{
      width: 100%;
    }
    .post{
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      width: 100%;
      background-color: rgb(68, 64, 64);
      padding-inline: 0.5rem;
      padding-block: 0.5rem;

      .user{
        display: flex;
        gap: 1rem;
        align-items: center;

        .img-wrapper{
    
          display: flex;
           justify-content: center;
           align-items: center;
           border-radius: 50%;
           border: 2px solid transparent;
           background:conic-gradient(from 30deg, #667eea, #764ba2, #f953c6, #667eea);
        }
       


        img{
          width: 2rem;
          aspect-ratio: 1/1;
          border-radius: 50%;
          object-fit: cover;
          
        }
      }
      .icons{
         display: flex;
         justify-content: space-between;
        .left{
          display: flex;
          gap: 1rem;
        }
        
        svg{
          width: 1.5rem;
          aspect-ratio: 1/1;
          color: white;
        }
         button{
            background-color: transparent;
            border: none;
            outline: none;
          }
      }

      img{
        width: 100%;
      }
    }
  }

}