.feed-page{
  display: flex;
  justify-content: center;
  align-items: flex-start;
 



  .feed{
    max-width: 400px;
    width: 100%;

    .posts{
      width: 100%;
    }
    .post{
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      width: 100%;
      background-color: rgb(68, 64, 64);
      padding-inline: 0.5rem;
      padding-block: 0.5rem;

      .user{
        display: flex;
        gap: 1rem;
        align-items: center;

        .img-wrapper{
          background-color: white;
          display: flex;
           justify-content: center;
           align-items: center;
           border-radius: 50%;
           border: 2px solid transparent;
           background: linear-gradient(50deg,
#e96443, #904e95, #3494e6);
        }


        img{
          width: 2rem;
          aspect-ratio: 1/1;
          border-radius: 50%;
          object-fit: cover;
          
        }
      }

      img{
        width: 100%;
      }
    }
  }

}