*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , 
body,
#root
{
    height: 100%;
    width: 100%;
}
html{
  background-color: rgb(51, 49, 49);
  color: white;
}


.users{
  padding: 1rem;
  display: flex;
  gap: 0.75rem;



  .user{
    border-radius: 0.75rem;
    padding-block: 1rem;
    padding-inline: 1.25rem;
    background: linear-gradient(to bottom, #f46969, #f33e3e);
    border: 2px solid rgb(48, 47, 47);
  }



}