*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , 
body,
#root
{
    height: 100%;
    width: 100%;
}
html{
  background-color: rgb(51, 49, 49);
  color: white;
}


.users{
  padding: 1rem;
  display: flex;
  gap: 0.75rem;



  .user{
    border-radius: 0.75rem;
    padding-block: 1rem;
    padding-inline: 1.25rem;
    background: linear-gradient(to bottom, #f46969, #f33e3e);
    border: 2px solid rgb(48, 47, 47);
  }

 



}
form{
  display: flex;
  gap: 1rem;
  padding: 2rem;
  

  input{
    padding-block: 1.25rem ;
    padding-inline: 2rem;
    border-radius: 0.75rem;
    width: 100%;
    font-size: 1.35rem;
    border: none;
    overflow: hidden;
    outline: none;
  }
  button{
    padding-inline: 1.75rem;
    padding-block: 0.75rem;
    border-radius: 0.75rem;
    font-size: 1.25rem;
    color:rgb(244, 251, 255);
    font: 400;
    background: linear-gradient(to bottom, #D4ADCF,#856084)
  }
}