@font-face {
  font-family: "insta";
  src: url('/Frontend/src/Fonts/Insta.ttf');
}


.nav-bar{

  .img-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    border:  2px solid transparent;
    border-radius: 50%;
    overflow: hidden;
    background: conic-gradient(from 45deg, (rgb(249, 144, 162)), hotpink,#e76cc0 ) border-box;
  }

  .icons{
    display: flex;
    align-items: center;
    gap: 0.5rem;

    p{
      font-family: "insta";
    }


    img{
      width: 2.5rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
    }
  }



  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-inline: 1rem;
  padding-block: 0.5rem;
 
}